body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d0d0d;
    color: white;
}

.account-container {
    padding: 20px;
}

.account-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.balance-card {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 16px;
    border: 1px solid #262626;
    margin-bottom: 30px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.6);
}

.balance-label {
    font-size: 16px;
    color: #bbbbbb;
}

.balance-value {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    color: #6e5dfc; /* roxo nubank */
}

.actions-title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.actions-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.action-button {
    padding: 18px;
    background: #2a2a2a;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 18px;
    transition: 0.2s;
    cursor: pointer;
    border: 1px solid #333;
}

.action-button:hover {
    background: #3b3b3b;
}